body{
margin:0;
padding:0;
font-family:Arial,sans-serif;
background:#081d52;
color:white;
text-align:center;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:20px;
}

.logo{
width:180px;
margin-bottom:20px;
}

h1{
font-size:70px;
color:#C4A446;
margin:0;
}

h2{
font-size:28px;
font-weight:300;
}

p{
max-width:700px;
line-height:1.8;
}

.btn{
background:#C4A446;
color:#081d52;
padding:15px 30px;
text-decoration:none;
border-radius:50px;
font-weight:bold;
margin-top:20px;
display:inline-block;
}

#about,
#services,
#contact{
padding:100px 20px;
}

.card{
background:#112960;
padding:30px;
margin:20px auto;
max-width:350px;
border-radius:20px;
}
